<link rel="stylesheet" href="../../plusgins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<aside class="main-sidebar sidebar-dark-primary elevation-4" > 


  <!-- partial -->
  <div class="container-fluid page-body-wrapper" style="padding-top: 0px;">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="../usuarios/Usuarios.html">
            <i class="mdi mdi-chart-pie menu-icon"></i>
            <span class="menu-title">Usuarios</span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="../Productos/productos.html">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Productos</span>
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="../Clientes/clientes.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Clientes</span>
            </a>
          </li>
      
       
      </ul>
    </nav>
</aside>

